@font-face {
	font-family: 'Gotham';
	src: url('vendor/fonts/GothamPro.eot');
	src: url('vendor/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
	url('vendor/fonts/GothamPro.woff') format('woff'),
	url('vendor/fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('vendor/fonts/GothamPro-Bold.eot');
	src: url('vendor/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('vendor/fonts/GothamPro-Bold.woff') format('woff'),
	url('vendor/fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
body {
	color: #000;
	font-family: 'Arial', sans-serif;
}
header {
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}
a {
	color: #000;
	text-decoration: none;
}
thead, tbody, tfoot {
	border: none;
}
ul, ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.wrap_opt {
	background-color: #E5E5E5;
	padding-top: 40px;
	position: relative;
	min-height: 90vh;
}
.grid-container {
	padding-right: 40px;
    padding-left: 40px;
    max-width: 100%;
    margin: 0 auto;
}
.grid-container:not(.full) > .grid-padding-x {
    margin-right: -20px;
    margin-left: -20px;
}
.grid-padding-x > .cell {
    padding-right: 20px;
    padding-left: 20px;
}
.header_menu ul li a:hover {
    color: #F15C0B;
}
/* header */
.logo {
	padding-right: 10px;
}
.header_wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.header_menu ul {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.header_menu  ul li {
	padding-left: 20px;
	padding-right: 20px;
}
.header_menu  ul li a {
	color: #837873;
	font-size: 13px;
	font-family: 'Gotham', sans-serif;
}
.header_log {
	display: flex;
	flex-direction: column;
	text-align: right;
}
.header_log_block {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header_log_block a {
	padding-right: 10px;
}
.header_log_block a:hover span {
    color: #F15C0B;
}
.header_log_block span {
	font-family: 'Gotham', sans-serif;
	font-size: 13px;
	color: #837873;
}
.header_clear {
	flex: 1;
}
.logout {
	font-family: 'Gotham', sans-serif;
	font-size: 13px;
	color: #ED5408;
}
.burger {
	display: none;
}
/* login dropdown */
.header_dropdown_content {
	background-color: #fff;
	text-align: left;
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
	font-family: 'Gotham', sans-serif;
}
.dropdown-pane {
	padding: 0;
	border: none;
}
.header_dropdown_title {
	font-size: 14px;
	color: #000000;
	margin-bottom: 15px;
}
.header_dropdown_content input[type=text] {
	background-color: #F9F9F9;
	border: 1px solid #EEEEEE;
	padding: 15px;
	margin-bottom: 10px;
}
.header_dropdown_top {
	padding: 30px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}
.header_dropdown_bottom {
	padding: 30px;
	background-color: #FCF8EE;
	display: flex;
	flex-direction: column;
}
.header_dropdown_content input[type=text]::placeholder {
	color: #AAAAAA;
	font-size: 12px;
}
.header_dropdown_why {
	font-size: 12px;
	line-height: 11px;
	color: #AAAAAA;
	margin-bottom: 18px;
	margin-top: 10px;
}
.header_dropdown_why:hover {
	text-decoration: underline;
}
.header_dropdown_submit {
	padding: 20px 50px;
	background-color: #ED5408;
	color: #fff;
	text-transform: uppercase;
	box-shadow: 0px 5px 15px rgba(0, 128, 106, 0.2);
	font-size: 12px;
	border: none;
	cursor: pointer;
	font-weight: bold;
}
.header_dropdown_submit:hover {
	background-color: #d64a04;
}
.header_dropdown_reg {
	font-size: 12px;
	text-transform: uppercase;
	color: #ED5408;
	border: 1px solid #ED5408;
	display: flex;
	padding: 18px 40px;
	font-weight: bold;
}
.header_dropdown_reg:hover {
	background-color: #ED5408;
	color: #fff;
}
/* yur page login */
.yur_page {
	padding-top: 40px;
	max-width: 900px;
	margin: 0 auto;
	font-family: 'Gotham', sans-serif;
}
.yur_login_inner {
	background-color: #fff;
	padding: 30px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	margin: 0 auto;
	max-width: 720px;
}
.yur_login_content h1 {
	font-size: 18px;
	line-height: 17px;
	color: #000000;
	margin-top: 8px;
}
.yur_login {
	display: flex;
	flex-direction: column;
	max-width: 200px;
}
.yur_login_title {
	font-size: 14px;
	color: #000000;
	margin-top: 24px;
	margin-bottom: 12px;
}
.yur_login input[type=text], .yur_login input[type=password] {
	background-color: #FFFFFF;
	border: 1px solid #EAEAEA;
	box-sizing: border-box;
	border-radius: 3px;
	padding: 13px 20px;
	font-size: 14px;
}
.yur_login_why {
	font-size: 14px;
	color: #ED5408;
	margin-top: 24px;
	margin-bottom: 24px;
}
.yur_login_why:hover {
	text-decoration: underline;
}
.checkbox_block {
	position: relative;
}
.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 3px;
}
.checkbox_block:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox_block input:checked ~ .checkmark {
  background-color: #F15537;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.checkbox_block input:checked ~ .checkmark:after {
	display: block;
}
.checkbox_block .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkbox_block input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkbox_text {
    padding-left: 24px;
	font-size: 12px;
	line-height: 12px;
	color: #222222;
}
.yur_checkbox_inner {
	margin-bottom: 24px;
	cursor: pointer;
}
.yur_login input[type=submit] {
	background: #ED5408;
	border-radius: 5px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	border: none;
	padding: 12px 30px;
	margin-bottom: 16px;
	cursor: pointer;
}
.yur_login input[type=submit]:hover {
	background-color: #d24804;
}
/* yur_reg */
.yur_reg {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}
.yur_login_inn {
	margin-left: -12px;
	margin-right: -12px;
}
.yur_login_top, .yur_login_bottom{
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	margin-left: -12px;
	margin-right: -12px;
}
.yur_login_inn .yur_login_top_block {
	width: 100%;
	margin: 0;
}
.yur_login_inn input[type=text] {
	width: 100%;
}
.yur_login_top_block {
	display: flex;
	flex-direction: column;
	width: 33.3333%;
	padding-right: 12px;
	padding-left: 12px;
}
.yur_login_top_block input[type=submit] {
    background: #ED5408;
    border-radius: 5px;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 12px 10px;
    margin-bottom: 16px;
    cursor: pointer;
    margin-top: 36px;
	max-width: 204px;
}
/* product */
.product_mob_block {
	display: none;
}
.product_wrap {
	height: 100%;
}
.product_title {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 21px;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}
.tabs-title > a {
	padding: 0;
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	color: #000;
	font-weight: bolder;
	background-color: #fff;
	border: none;
	padding-bottom: 18px;
	outline: none;
}
.tabs-title > a[aria-selected='false'] {
	color: #F15C0B;
}
.tabs {
	border: none;
}
.tabs .tabs-title {
    margin-right: 25px;
}
.tabs .tabs-title.is-active:after {
	content: '';
	width: 100%;
	height: 3px;
	background-color: #000;
	display: block;
}
.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
	background-color: #fff;
}
.tabs-info {
	float: right;
}
.tabs-info span {
	color: #999999;
	font-size: 11px;
	font-family: 'Arial'
}
.tabs-panel {
	padding: 0;
}
.tabs-content {
	border: none;
}
.product_table_name {
	padding-left: 25px;
	margin: 0;
	border: 0;
}
.product_table_name tbody {
	display: flex;
	flex-direction: column;
	padding-left: 25px;
}
.product_table_name tbody tr td:first-child {
	flex: 1;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: 1px solid #eee;
    text-align: left;
}
.product_table_name tbody tr td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #000;
    font-size: 11px;
    border-right: 1px solid #eee;
    text-align: center;
    width: 99px;
	position: relative;
}

.product_table_name tbody tr td:last-child {
    width: 100px;
	border-right: none;
}
.product_table_name tbody tr td a {
	color: #ED5408;
	font-size: 11px;
	font-weight: bold;
}
.product_table_name tbody tr:first-child {
	border-top: none;
}
.product_table_name tbody tr {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-top: 1px solid #eee;
}
.product_table_name tbody tr:nth-child(even) {
	background-color: #fff;
}
.product_accordion .accordion-title {
	background-color: #F4F4F4;
	border: none;
	padding-left: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #000;
	font-size: 14px;
	font-weight: bold;
}
.product_accordion .accordion-content {
	padding: 0;
	border: none;
}
.accordion-title::before {
	display: none;
}
.is-active > .accordion-title::before {
    content: '\2013';
	display: none;
}
.accordion-title::after {
	position: relative;
	top: 50%;
	left: 1rem;
	margin-top: -0.5rem;
	content: '+';
}
.is-active > .accordion-title::after {
    content: '\2013';
}
/* корзина  */
.cart_wrap {
    /* background-color: #fff; */
    height: 100%;
    position: relative;
    padding-bottom: 48px;
}
.product_col {
	background-color: #ED5408;
	border-radius: 3px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	font-size: 14px;
	margin-left: 15px;
}
.tabs-info a {
	color: #F15C0B;
	font-size: 11px;
	border-radius: 3px;
	border: 1px solid rgba(241, 92, 11, 0.3);
	background-color: #fff;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
}
.product_cart_sum {
    color: #000;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    display: block;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 15px;
}
.cart_wrap .product_table_name tbody tr:last-child {
	border-bottom: 1px solid #eee;
}
.product_table_name_main tr {
	border-bottom: none!important;
}
.product_table_name_main {
	padding-right: 17px;
}
.cart_total_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    align-items: center;
    position: absolute;
    bottom: 40px;
    right: 0;
    width: 100%;
	border-top: 1px solid #eee;
	background-color: #fff;
}
.cart_total_inner span {
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.cart_total_inner a {
	background-color: #F15C0B;
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.cart_accordion .accordion-title {
	background-color: #F4F4F4;
	border: none;
	padding-left: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #000;
	font-size: 14px;
	font-weight: bold;
}
.cart_accordion .accordion-content {
	padding: 0;
	border: none;
}
.product_accordion {
	overflow-y: scroll;
	overflow-x: hidden;
	min-height: 71vh;
}
.cart_accordion {
    overflow-y: scroll;
    height: 70vh;
    padding-bottom: 63px;
}
.cart_accordion ul li:last-child .accordion-content {
	border-bottom: none;
}
.cart_col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cart_col button {
    padding: 4px;
    background-color: #F15C0B;
    outline: none;
	cursor: pointer;
}
.cart_col .plus .plus_ico {
    background-image: url(img/sprite.png);
    background-repeat: no-repeat;
    background-position: -30px 0px;
    width: 10px;
    height: 10px;
}
.cart_col .minus .minus_ico {
    background-image: url(img/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 10px;
    height: 10px;
}
.cart_col_input .input-group-field {
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    padding: 0;
    flex: none;
    display: block;
    width: 21px;
    border: none;
    outline: none;
    box-shadow: none;
    font-weight: 700;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.accordion-item {
	border-bottom: 1px solid #eee;
}
.accordion-item.is-active {
	border-bottom: none;
}
:last-child:not(.is-active) > .accordion-title {
	border: none;
}
/* canvas */
.header_canvas .off-canvas {
	background-color: #fff;
}
.header_canvas .off-canvas ul {
	display: flex;
	flex-direction: column;
}
.header_canvas .off-canvas ul li a {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    color: #ED5408;
    font-size: 13px;
    padding: 15px;
    display: flex;
    font-family: 'Gotham', sans-serif;
}
.cart_2  {
	display: none;
}
/* mobile block */
.product_mob_block {
	flex-direction: column;
	background-color: #fff;
	margin-bottom: 5px;
}
.product_mob_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 15px;
}
.product_mob_img {
    width: 28%;
    display: flex;
    align-items: start;
    padding-left: 15px;
    padding-top: 15px;
}
.product_mob_desc {
	width: 72%;
    padding-top: 15px;
    padding-right: 15px;
}
.product_mob_desc h3 {
	font-size: 11px;
	line-height: 18px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 10px;
}
.product_mob_meta {
    font-size: 11px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
}
.product_mob_price {
	border-top: 1px solid #eee;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.product_mob_price span {
	width: 70%;
	display: flex;
	align-items: center;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 11px;
	line-height: 18px;
	border-right: 1px solid #eee;
}
.product_mob_price a {
    width: 30%;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 11px;
    line-height: 18px;
    display: flex;
	color: #ED5408;
	font-weight: bold;
}
.mobile_login {
	display: none;
}
/* login */
.login_wrap {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    max-width: 720px;
    margin: 0 auto;
    margin-top: 40px;
	border-radius: 10px;
}
.button {
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	background: #ED5408;
	border-radius: 5px;
	padding: 10px 30px;
	border: none;
	cursor: pointer;
}
.button:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}
.login_inner {
	border-right: 1px solid #eee;
	padding: 30px;

}
.reg_inner {
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.reg_inner span {
	margin-bottom: 18px;
}
.reg_inner ul {
	list-style-type: disc;
	padding-left: 15px;
}
.reg_inner ul li {
	margin-bottom: 16px;
	color: #000;
}
.login_inner h3, .reg_inner h3 {
	margin-top: 0;
	font-size: 18px;
	color: #000000;
	margin-bottom: 30px;
}
.login_form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.login_inner a {
	color: #ED5408;
	margin-bottom: 20px;
}
.login_inner a:hover {
	text-decoration: underline;
}
.login_block {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.login_block span {
	margin-bottom: 10px;
}
.login_block input {
	background: #FFFFFF;
	border: 1px solid #EAEAEA;
	border-radius: 3px;
	padding: 15px;
}
.login_wrap .tabs-title > a {
	background-color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
	border: none;
    padding: 1.25rem 1.5rem;
}
.login_wrap .tabs {
    border: none;
    padding: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
	display: none;
}
.login_wrap .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
	color: #ED5408;
	outline: none;
	border: none;
}
.login_wrap .tabs-content {
    border: none;
    display: flex;
    flex-direction: row;
	border-radius: 10px;
}
.login_wrap .tabs-panel {
	padding: 0;
	width: 50%;
}
.login_wrap {
	font-size: 14px;
}
/* media */
@media (max-width: 1024px) {
	.header_menu, .header_log, .cart_inner {
		display: none;
	}
	.cart_2 {
		display: block;
	}
	.yur_login_top_block {
		width: 100%;
	}
	.burger {
	    display: flex;
	    border-left: 1px solid #eee;
	    height: 80px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    align-items: center;
	    justify-content: center;
	    width: 80px;
	}
	.reg_inner ul li, .button {
		font-size: 13px;
	}
	.login_inner, .reg_inner {
		padding: 20px;
	}
	.login_inner h3, .reg_inner h3 {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.reg_inner span {
		margin-bottom: 10px;
		font-size: 13px;
	}
	.login_block span, .login_inner a {
		font-size: 13px;
	}
	.yur_login_top, .yur_login_bottom {
	    flex-direction: column;
	}
	.burger a{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.product_table_name tbody tr td:first-child {
		justify-content: start;
	}
	.product_table_name tbody tr td {
	    padding-left: 5px;
	    padding-right: 5px;
	    width: 80px;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    display: flex;
	    align-items: center;
		justify-content: center;
	}
	.cart_total_inner {
		bottom: 0;
	}
	.cart_accordion {
	    height: 78vh;
	}
	.yur_login_top_block input[type=submit] {
		max-width: 100%;
		width: 100%;
	}
	.mobile_login {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80px;
		width: 80px;
		top: 0;
		position: absolute;
		right: 80px;
		border-left: 1px solid #eee;
	}
	.mobile_login a {
	    width: 100%;
	    height: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
}
@media (max-width: 575px) {
	.grid-container {
		padding-left: 15px;
		padding-right: 15px;
		overflow: hidden;
	}
	.tabs .tabs-title.is-active:after {
    content: none;
}
	.login_wrap .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
	    border-bottom: 2px solid #ED5408;
	    border-radius: 10px 0 0 0;
	}
	.login_wrap .tabs-title > a {
	    font-size: 13px;
	    padding: 20px 10px;
	}
	.login_wrap .tabs-title {
	    width: 50%;
	    text-align: center;
	}
	.login_wrap .tabs {
		display: flex;
	}
	.login_wrap .tabs-panel {
		width: 100%;
	}
	.login_inner {
		border: none;
	}
	.mobile_login {
	    height: 50px;
	    width: 50px;
	    border: none;
	    right: 50px;
	}
	.yur_login_top_block {
		margin: 0;
		max-width: 100%;
		width: 100%;
	}
	.product_mob_block {
		display: flex;
	}
	.yur_login_content h1 {
		font-size: 16px;
	}
	.yur_login_title {
		font-size: 14px;
		margin-top: 16px;
		margin-bottom: 6px;
	}
	.wrap_opt {
		min-height: 100%;
	}
	.yur_page {
		padding-top: 20px;
	}
	.yur_login {
		max-width: 100%;
	}
	.wrap_opt {
		padding-top: 15px;
	}
	.yur_login_inner {
		padding: 15px;
	}
	.tabs-info, .product_desc, .accordion_destkop, .cart_total_inner {
		display: none!important;
	}
	.tabs-title > a, .cart_total_inner span, .cart_total_inner a {
		font-size: 13px;
	}
	.tabs .tabs-title {
		margin-right: 15px;
	}
	.product_table_name tbody {
		padding-left: 15px;
	}
	.product_title {
		padding-left: 15px;
		padding-right: 15px;
	}
	.product_col {
		margin-left: 0;
	}
	.tabs .tabs-title {
		margin-right: 15px;
	}
	.tabs-title > a[aria-selected='true'] span {
		background-color: #000;
		color: #fff;
	}
	.tabs-title > a {
		outline: none;
	}
	.logo a img {
		width: 55px;
	}
	.burger {
		height: 50px;
		width: 50px;
		border: none;
	}
	.product_accordion, .cart_accordion {
	    overflow-y: hidden;
		min-height: 100vh;
	}
	.accordion-content, .tabs-content, .accordion {
		background-color: transparent;
	}
	.grid-padding-x > .cell {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.product_item {
	position: relative!important;
}
.small-image {
	width: 25px;
	height: 25px;
}
.large {
  position: absolute;
  left: -9999px;
}
.large img {
	max-width: 400px;
}
.small-image:hover + .large {
  left: 20px;
  top: 0;
}
.large-image {
  border-radius: 4px;
   box-shadow: 1px 1px 3px 3px rgba(127, 127, 127, 0.15);;
}



.hide {
	display: none!important;
}
.complete {
	color: #fff!important;
	background-color: #ED5408;
	transition: background-color 0.5s ease;
}
