@font-face {
	font-family: 'Gotham';
	src: url('vendor/fonts/GothamPro.eot');
	src: url('vendor/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
	url('vendor/fonts/GothamPro.woff') format('woff'),
	url('vendor/fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('vendor/fonts/GothamPro-Bold.eot');
	src: url('vendor/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('vendor/fonts/GothamPro-Bold.woff') format('woff'),
	url('vendor/fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Vollkorn';
	src: url('vendor/fonts/Vollkorn-Regular.eot');
	src: url('vendor/fonts/Vollkorn-Regular.eot?#iefix') format('embedded-opentype'),
	url('vendor/fonts/Vollkorn-Regular.woff') format('woff'),
	url('vendor/fonts/Vollkorn-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Vollkorn';
	src: url('vendor/fonts/Vollkorn-Bold.eot');
	src: url('vendor/fonts/Vollkorn-Bold.eot?#iefix') format('embedded-opentype'),
	url('vendor/fonts/Vollkorn-Bold.woff') format('woff'),
	url('vendor/fonts/Vollkorn-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
* {
	box-sizing: border-box;
}
body {
	font-size: 14px;
	font-family: "Gotham", sans-serif;
	color: #000;
}
ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
.wrapper {
	background-color: #FAF7F2;
	padding-bottom: 100px;
}
.container {
	max-width: 1160px;
	margin: 0 auto;
	width: 100%;
}
.orange {
	color: #ED5408;
}
/* header */
header {
	border-bottom: 1px solid #EDEAE4;
}
.header_wrap {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	color: #837873;
	align-items: center;
}
.header_wrap a {
	color: #837873;
}
.header_wrap a:hover {
	color: #F15C0B;
}
.header_search {
	width: 15%;
}
.header_top_left, .header_top_right {
	width: 30%;
}
.header_top_left ul, .header_top_right ul {
	display: flex;
	flex-direction: row;
}
.header_top_left ul li a {
	margin-left: 30px;
}
.header_top_left ul li:first-child a {
	margin-left: 0;
}
.logo {
	margin-left: 20px;
	margin-right: 20px;
	width: 10%;
}
.header_top_right ul li a {
	margin-right: 30px;
}
.header_top_right ul li:last-child a {
	margin-right: 0;
}
.header_log {
	display: flex;
	flex-direction: row;
	width: 15%;
	justify-content: flex-end;
}
.search_block {
	display: flex;
	flex-direction: row;
}
.search_block input[type=submit] {
	width: 15px;
	height: 16px;
	text-indent: -99em;
	background-image: url(./img/search.svg);
	box-shadow: none;
	outline: none;
	border: none;
	cursor: pointer;
	background-repeat: no-repeat;
	padding: 0;
	margin-right: 10px;
	background-color: transparent;
}
.search_block input[type=text] {
	border: none;
	background-color: transparent;
	outline: none;
	width: 130px;
}
.header_log_block {
	position: relative;
}
.header_log_block a {
	position: absolute;
	left: -22px;
	top: 0;
	width: 100%;
	height: 100%;
}
.header_log_block a:hover + span {
	color: #F15C0B;
}
/* page */
.breadcrumb {
	margin-top: 30px;
}
.breadcrumb_inner a {
	color: #C4C4C4;
	font-size: 13px;
}
.page_title h1 {
	color: #F15C0B;
	font-size: 24px;
	line-height: 23px;
	margin-bottom: 25px;
}
.page_img {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.career {
	margin-bottom: 50px;
}
.page_desc .content {
	border-radius: 0 0 10px 10px;
}
.content {
	background-color: #fff;
	padding: 30px;
	line-height: 24px;
	color: #222;
	border-radius: 10px;
}
.content p {
	margin-top: 0;
	margin-bottom: 25px;
}
.content ul {
	margin-top: 15px;
}
.career .content ul li {
	position: relative;
	padding-left: 40px;
	margin-bottom: 10px;
}
.career .content ul li:before {
    content: "";
    display: block;
    width: 17px;
    height: 15px;
    background-image: url(./img/ok.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
	top: 7px;
}
.accordion-title::before {
	content: "Показать";
	font-weight: normal;
	color: #707070;
	font-size: 13px;
}
.is-active > .accordion-title::before {
    content: 'Свернуть';
}
.accordion-title {
	border: none;
	background-color: transparent;
	color: #F15C0B;
	font-size: 14px;
	font-weight: bold;
	padding: 30px;
}
.accordion-content {
	border: none;
	padding: 30px;
}
.accordion-title:hover, .accordion-title:focus {
    background-color: transparent;
}
.content ul.accordion {
	margin: 0;
}
.accordion-item {
	border-bottom: 1px solid #EEEEEE;
}
.accordion-item:first-child a {
	border-radius: 10px 10px 0 0!important;
}
.accordion {
	border-radius: 10px;
}
.vakansii {
	padding-bottom: 60px;
}
:last-child > .accordion-content:last-child, :last-child:not(.is-active) > .accordion-title, .accordion-item:last-child {
	border: none;
}
/* company */
.company_title h1 {
    color: #F15C0B;
    font-size: 48px;
    display: flex;
    justify-content: center;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 15px;
	font-family: 'Vollkorn', sans-serif;
}
.company_url {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.company_url a {
	color: #222;
	font-size: 22px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
}
.company_url a:hover {
	border-bottom: 3px solid #ED5408;
	color: #ED5408;
}
.company_url a.active {
	border-bottom: 3px solid #ED5408;
	color: #ED5408;
}
.bulka1 {
	display: flex;
	flex-direction: row;
}
.bulka1_desc span {
    color: #ED5408;
    font-family: 'Gotham', sans-serif;
    font-size: 72px;
    font-weight: bold;
    line-height: normal;
}
.bulka1_desc p {
	color: #4F4F4F;
	margin: 0;
}
.bulka1_desc {
	padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.content h3 {
	color: #ED5408;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 30px;
}
.bulka_inner {
	display: flex;
	flex-direction: row;
}
.bulka2_desc {
	display: flex;
	flex-direction: column;
	padding-top: 53px;
}
.bulka2_text {
	color: #ED5408;
	font-weight: bold;
	font-size: 18px;
	line-height: 0;
}
.bulka2_sifra {
	font-size: 72px;
	font-weight: bold;
	line-height: normal;
	color: #ED5408;
}
.bulka2 {
	display: flex;
	flex-direction: row;
}
.shadow {
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}
.about_desc .content {
	border-radius: 10px;
}
.history_inner .content {
	border-radius: 10px;
}
.history_inner .tabs {
	border: none;
	padding: 0;
	border-bottom: 1px solid #E5E5E5;
}
.history_content {
	min-height: 250px;
}
.history_inner .tabs-content {
	border: none;
	padding: 0;
}
.history_inner .tabs-title > a {
	font-size: 36px;
	color: #B7B7B7;
	font-family: 'Gotham', sans-serif;
	line-height: 34px;
	background-color: transparent;
	padding: 0;
	border: none;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.history_inner .tabs-title {
	position: relative;
}
.history_inner .tabs-title::after {
	content: '';
	border-right: 1px solid #E5E5E5;
	position: absolute;
	height: 50%;
	right: 0;
	bottom: 0;
}
.history_inner .tabs-title:first-child:after {
	content: '';
	border-left: 1px solid #E5E5E5;
	position: absolute;
	height: 50%;
	left: 0;
	bottom: 0;
}
.history_inner .tabs-title.is-active > a {
	color: #ED5408;
}
.history_inner .tabs-panel {
	padding-top: 30px;
	padding-left: 0;
	padding-right: 0;
}
.history_inner .tabs-panel img {
	margin-bottom: 20px;
}
/* partner */
.section {
	margin-bottom: 50px;
}
.partner {
	border-radius: 10px;
}
.left_slide {
	display: block;
	background-image: url(./img/left_arrow.svg);
	width: 21px;
	height: 32px;
	position: absolute;
	left: 0;
	top: 7px;
	z-index: 11;
}
.left_slide:hover {
	color: #ddd;
}
.right_slide {
	display: block;
	background-image: url(./img/right_arrow.svg);
	width: 21px;
	height: 32px;
	position: absolute;
	right: 0;
	top: 7px;
	z-index: 11;
}
.partner_slide {
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-initialized .slick-slider {
	overflow: hidden;
}
.partner_slide {
	display: none;
}
.slick-slide .partner_slide {
	display: block;
}
.partner_slider_inner {
    position: relative;
    padding-bottom: 20px;
}
.partner_slider {
	padding-left: 60px;
	padding-right: 60px;
}

/* news */
.news_title h1 {
    color: #F15C0B;
    font-size: 48px;
    display: flex;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 15px;
	font-family: 'Vollkorn', sans-serif;
}
.news_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;
}
.news_block_inner_first {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 40px;
}
.news_block_inner {
	width: 25%;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 40px;
}
.news_block_content {
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}
.news_block_first {
	height: 360px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	position: relative;
}
.news_block_first:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	z-index: 9;
}
.news_block_first span {
    top: auto;
    bottom: 80px;
    left: 20px;
	z-index: 10;
}
.news_block_first h4 {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	z-index: 11;
}
.news_block {
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px 10px 0 0;
	height: 200px;
}
.news_block_desc {
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	padding: 20px;
	min-height: 160px;
	position: relative;
}
.news_block_desc a:hover h4, .news_block_inner_first a:hover h4 {
	color: #F15C0B;
}
.news_block_desc h4 {
	color: #222;
	font-family: 'Gotham', sans-serif;
	font-size: 13px;
	line-height: 20px;
	margin: 0;
}
.news_date {
	color: #fff;
	background-color: #ED5408;
	border-radius: 3px;
	font-size: 12px;
	line-height: 11px;
	padding: 5px 7px;
	position: absolute;
	top: -12px;
}
