@font-face {
	font-family: 'Gotham';
	src: url('vendor/fonts/GothamPro.eot');
	src: url('vendor/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
	url('vendor/fonts/GothamPro.woff') format('woff'),
	url('vendor/fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('vendor/fonts/GothamPro-Bold.eot');
	src: url('vendor/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('vendor/fonts/GothamPro-Bold.woff') format('woff'),
	url('vendor/fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Vollkorn';
	src: url('vendor/fonts/Vollkorn-Regular.eot');
	src: url('vendor/fonts/Vollkorn-Regular.eot?#iefix') format('embedded-opentype'),
	url('vendor/fonts/Vollkorn-Regular.woff') format('woff'),
	url('vendor/fonts/Vollkorn-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Vollkorn';
	src: url('vendor/fonts/Vollkorn-Bold.eot');
	src: url('vendor/fonts/Vollkorn-Bold.eot?#iefix') format('embedded-opentype'),
	url('vendor/fonts/Vollkorn-Bold.woff') format('woff'),
	url('vendor/fonts/Vollkorn-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
* {
	box-sizing: border-box;
}
body {
	font-size: 14px;
	font-family: "Gotham", sans-serif;
	color: #000;
}
ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #0077CC;
}
.wrapper {
	background-color: #FAF7F2;
	padding-bottom: 100px;
	min-height: 100vh;
	z-index: 11;
	position: relative;
}
.container {
	max-width: 1160px;
	margin: 0 auto;
	width: 100%;
}
.orange {
	color: #ED5408;
}
/* header */
header {
	border-bottom: 1px solid #EDEAE4;
}
.header_wrap {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	color: #837873;
	align-items: center;
}
.header_wrap a {
	color: #837873;
}
.header_wrap a:hover {
	color: #F15C0B;
}
.header_search {
	width: 15%;
}
.header_top_left, .header_top_right {
	width: 30%;
}
.header_top_left ul, .header_top_right ul {
	display: flex;
	flex-direction: row;
}
.header_top_left ul li a {
	margin-left: 30px;
}
.header_top_left ul li:first-child a {
	margin-left: 0;
}
.logo {
	margin-left: 20px;
	margin-right: 20px;
	width: 10%;
}
.header_top_right ul li a {
	margin-right: 30px;
}
.header_top_right ul li:last-child a {
	margin-right: 0;
}
.header_log {
	display: flex;
	flex-direction: row;
	width: 15%;
	justify-content: flex-end;
}
.search_block {
	display: flex;
	flex-direction: row;
}
.search_block input[type=submit] {
	width: 15px;
	height: 16px;
	text-indent: -99em;
	background-image: url(./img/search.svg);
	box-shadow: none;
	outline: none;
	border: none;
	cursor: pointer;
	background-repeat: no-repeat;
	padding: 0;
	margin-right: 10px;
	background-color: transparent;
}
.search_block input[type=text] {
	border: none;
	background-color: transparent;
	outline: none;
	width: 130px;
}
.header_log_block {
	position: relative;
}
.header_log_block span {
	padding-left: 10px;
}
.header_log_block a:hover + span {
	color: #F15C0B;
}
/* main page */
.main_page {
    border: none;
    z-index: 111;
    position: relative;
}
.main_top {
    height: 800px;
    background-image: url(./img/main.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    z-index: 4;
    background-size: cover;
}
.main_top_blur {
    background: rgba(255, 255, 255, 0.9);
    filter: blur(150px);
    height: 800px;
    position: relative;
    top: -200px;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform: translateZ(0);
	backface-visibility: hidden;
	perspective: 1000;
	transform: translate3d(0,0,0);
	transform: translateZ(0);
}
/* page */
.breadcrumb {
	margin-top: 30px;
}
.breadcrumb_inner a {
	color: #C4C4C4;
	font-size: 13px;
}
.breadcrumb_inner {
	color: #C4C4C4;
	font-size: 13px;
}
.page_title h1 {
	color: #F15C0B;
	font-size: 24px;
	line-height: 23px;
	margin-bottom: 25px;
}
.page_img {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.career {
	margin-bottom: 50px;
}
.career_desc {
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}
.page_desc .content {
	border-radius: 0 0 10px 10px;
}
.content {
	background-color: #fff;
	padding: 30px;
	line-height: 24px;
	color: #222;
	border-radius: 10px;
}
.content p {
	margin-top: 0;
	margin-bottom: 25px;
}
.content ul {
	margin-top: 15px;
}
.career .content ul li {
	position: relative;
	padding-left: 40px;
	margin-bottom: 10px;
}
.career .content ul li:before {
    content: "";
    display: block;
    width: 17px;
    height: 15px;
    background-image: url(./img/ok.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
	top: 7px;
}
.accordion-title::before {
	content: "Показать";
	font-weight: normal;
	color: #707070;
	font-size: 13px;
}
.is-active > .accordion-title::before {
    content: 'Свернуть';
}
.accordion-title {
	border: none;
	background-color: transparent;
	color: #F15C0B;
	font-size: 14px;
	font-weight: bold;
	padding: 30px;
}
.accordion-content {
	border: none;
	padding: 30px;
}
.accordion-title:hover, .accordion-title:focus {
    background-color: transparent;
}
.content ul.accordion {
	margin: 0;
}
.accordion-item {
	border-bottom: 1px solid #EEEEEE;
}
.accordion-item:first-child a {
	border-radius: 10px 10px 0 0!important;
}
.accordion-item:last-child .accordion-content {
	border-radius: 0 0 10px 10px;
}
.page_vakansii {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}
.accordion {
	border-radius: 10px;
}
.vakansii {
	padding-bottom: 60px;
}
:last-child > .accordion-content:last-child, :last-child:not(.is-active) > .accordion-title, .accordion-item:last-child {
	border: none;
}
/* company */
.company_title h1 {
    color: #F15C0B;
    font-size: 48px;
    display: flex;
    justify-content: center;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 15px;
	font-family: 'Vollkorn', sans-serif;
}
.company_url {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}
.company_url a {
	color: #222;
	font-size: 22px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
}
.company_url a:hover {
	border-bottom: 3px solid #ED5408;
	color: #ED5408;
}
.company_url a.active {
	border-bottom: 3px solid #ED5408;
	color: #ED5408;
}
.bulka1 {
	display: flex;
	flex-direction: row;
}
.bulka1_desc span {
    color: #ED5408;
    font-family: 'Gotham', sans-serif;
    font-size: 72px;
    font-weight: bold;
    line-height: normal;
}
.bulka1_desc p {
	color: #4F4F4F;
	margin: 0;
}
.bulka1_desc {
	padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.content h3 {
	color: #ED5408;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 30px;
}
.bulka_inner {
	display: flex;
	flex-direction: row;
}
.bulka2_desc {
	display: flex;
	flex-direction: column;
	padding-top: 53px;
}
.bulka2_text {
	color: #ED5408;
	font-weight: bold;
	font-size: 18px;
	line-height: 0;
}
.bulka2_sifra {
	font-size: 72px;
	font-weight: bold;
	line-height: normal;
	color: #ED5408;
}
.bulka2 {
	display: flex;
	flex-direction: row;
}
.shadow {
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}
.about_desc .content {
	border-radius: 10px;
}
.history_inner .content {
	border-radius: 10px;
}
.history_inner .tabs {
	border: none;
	padding: 0;
	border-bottom: 1px solid #E5E5E5;
}
.history_content {
	min-height: 250px;
}
.history_inner .tabs-content {
	border: none;
	padding: 0;
}
.history_inner .tabs-title > a {
	font-size: 36px;
	color: #B7B7B7;
	font-family: 'Gotham', sans-serif;
	line-height: 34px;
	background-color: transparent;
	padding: 0;
	border: none;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.history_inner .tabs-title {
	position: relative;
}
.history_inner .tabs-title::after {
	content: '';
	border-right: 1px solid #E5E5E5;
	position: absolute;
	height: 50%;
	right: 0;
	bottom: 0;
}
.history_inner .tabs-title:first-child:after {
	content: '';
	border-left: 1px solid #E5E5E5;
	position: absolute;
	height: 50%;
	left: 0;
	bottom: 0;
}
.history_inner .tabs-title.is-active > a {
	color: #ED5408;
}
.history_inner .tabs-panel {
	padding-top: 30px;
	padding-left: 0;
	padding-right: 0;
}
.history_inner .tabs-panel img {
	margin-bottom: 20px;
}
/* partner */
.section {
	margin-bottom: 50px;
}
.partner {
	border-radius: 10px;
}
.left_slide {
	display: block;
	background-image: url(./img/left_arrow.svg);
	width: 21px;
	height: 32px;
	position: absolute;
	left: 0;
	top: 7px;
	z-index: 11;
}
.left_slide:hover {
	color: #ddd;
}
.right_slide {
	display: block;
	background-image: url(./img/right_arrow.svg);
	width: 21px;
	height: 32px;
	position: absolute;
	right: 0;
	top: 7px;
	z-index: 11;
}
.partner_slide {
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-initialized .slick-slider {
	overflow: hidden;
}
.partner_slide {
	display: none;
}
.slick-slide .partner_slide {
	display: block;
}
.partner_slider_inner {
    position: relative;
    padding-bottom: 20px;
}
.partner_slider {
	padding-left: 60px;
	padding-right: 60px;
}

/* news */
.news_title h1 {
    color: #F15C0B;
    font-size: 48px;
    display: flex;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 15px;
	font-family: 'Vollkorn', sans-serif;
}
.news_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;
}
.news_block_inner_first {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 40px;
}
.news_block_inner {
	width: 25%;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 40px;
}
.news_block_content {
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
}
.news_block_first {
	height: 360px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	position: relative;
}
.news_block_first:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	z-index: 9;
}
.news_block_first span {
    top: auto;
    bottom: 80px;
    left: 20px;
	z-index: 10;
}
.news_block_first h4 {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	z-index: 11;
}
.news_block {
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px 10px 0 0;
	height: 200px;
}
.news_block_desc {
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	padding: 20px;
	min-height: 160px;
	position: relative;
}
.news_block_desc a:hover h4, .news_block_inner_first a:hover h4 {
	color: #F15C0B;
}
.news_block_desc h4 {
	color: #222;
	font-family: 'Gotham', sans-serif;
	font-size: 13px;
	line-height: 20px;
	margin: 0;
}
.news_date {
	color: #fff;
	background-color: #ED5408;
	border-radius: 3px;
	font-size: 12px;
	line-height: 11px;
	padding: 5px 7px;
	position: absolute;
	top: -12px;
}
/* page */
.back_inner a {
	font-size: 14px;
	line-height: 20px;
	color: #ED5408;
	font-weight: bold;
}
.back_inner a img {
	margin-right: 5px;
}
.news_page {
	margin-top: 20px;
}
.page_container {
	width: 820px;
	margin: 0 auto;
}
.page_img_anonce img {
	border-radius: 10px;
}
.page_content {
	background-color: #fff;
	padding-bottom: 30px;
	border-radius: 10px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}
.page_desc {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	position: relative;
}
.page_main_date {
	color: #A6A6A6;
	font-size: 14px;
	line-height: 13px;
}
.page_main_title {
	font-size: 32px;
	line-height: 36px;
}
.page_desc img {
	margin-bottom: 15px;
}
.page_next_block {
    width: 33.333333%;
    padding-left: 10px;
    padding-right: 10px;
}
.page_next_inner {
	margin-left: -10px;
	margin-right: -10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.page_next_title h2 {
	color: #222;
	font-size: 24px;
	line-height: 36px;
}
.page_next_title a {
	color: #ED5408;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	padding-right: 20px;
}
.page_next_title a img {
	margin-left: 5px;
}
.page_next_title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
/* contact */
.contact_title h1 {
    color: #F15C0B;
    font-size: 48px;
    display: flex;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 15px;
	font-family: 'Vollkorn', sans-serif;
}
.contact_info {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 24px;
	background-color: #fff;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 20px;
	min-height: 632px;
}
.sklad {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    z-index: 111;
    position: relative;
}
.sklad_title h3 {
    font-size: 18px;
    line-height: 17px;
    color: #ED5408;
    margin-bottom: 20px;
    margin-top: 5px;
}
.sklad_content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.sklad_block {
	width: 50%;
	padding-right: 150px;
	margin-bottom: 20px;
}
.sklad_block h5 {
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 8px;
}
.contact_info_title {
	color: #ED5408;
	font-weight: bold;
}
.contact_info span {
	margin-bottom: 10px;
}
.contact_info_title {
	margin-bottom: 3px!important;
}
.contact_wrap {
	display: flex;
	flex-direction: row;
}
.contact_left {
	padding-right: 10px;
	width: 45%;
}
.contact_right {
	padding-left: 10px;
	width: 55%;
}
.contact_map {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 24px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	background-color: #fff;
	border-radius: 10px;
}
.contact_map iframe {
	border-radius: 0 0 10px 10px;
}
.contact_map_title {
	padding: 20px;
	display: flex;
	flex-direction: column;
}
.contact_social {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}
.contact_social li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_social li a:hover {
	border-color: #ED5408;
}
.contact_social li {
	margin-right: 10px;
}
.map-container {
	border-radius: 0 0 10px 10px!important;
}
.main_number_inner {
	position: relative;
}
.main_number_back {
    background-repeat: no-repeat;
    height: 190px;
    width: 100%;
    position: absolute;
    top: -187px;
    left: auto;
    right: 0;
    z-index: 11;

}
.main_number_back img {
	-webkit-filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));
	filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));
}
.main_top_inner {
	position: relative;
	height: 800px;
}
.main_top_wrap {
    position: absolute;
    top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1160px;
}
.main_top_wrap h1 {
	font-family: Vollkorn;
	font-size: 64px;
	line-height: 80px;
	text-align: center;
	color: #ED5408;
	font-weight: normal;
	margin-bottom: 15px;
}
.main_top_wrap span {
	text-align: center;
	color: #837873;
	font-size: 13px;
	line-height: 24px;
}
.main_number_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
	position: absolute;
	top: 0;
	width: 100%;
}
.main_number_block {
    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_number_block span {
    font-family: "Vollkorn", sans-serif;
    color: #ED5408;
    font-size: 72px;
    line-height: 80px;
    font-feature-settings: 'tnum' on, 'lnum' on;
}
.main_number_block p {
    color: #837873;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    text-align: center;
}
.assortiment {
	margin-top: 80px;
}
.assortiment_inner {
	display: flex;
	flex-direction: row;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 30px;
}
.assortiment_block {
	padding-left: 20px;
	padding-right: 20px;
}
.assortiment_content {
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	transition: box-shadow 0.3s ease-in-out;
	position: relative;
}
.assortiment_content a {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.assortiment_content a:hover {
	transition: box-shadow 0.3s ease-in-out;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.assortiment_content span {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Vollkorn;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #ED5408;
	padding-top: 15px;
	padding-bottom: 15px;
}
.press_centr {
	margin-top: 80px;
}
.press_centr .news_inner {
	margin-top: 30px;
}
.press_centr_next_button {
	display: flex;
	justify-content: center;
}
.press_centr_next_button a {
	font-family: "Gotham", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #CCBBB2;
	background-color: #fff;
	border-radius: 5px;
	padding: 18px 28px;
	transition: box-shadow 0.3s ease-in-out;
}
.press_centr_next_button a:hover {
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	color: #F15C0B;
}
.quality {
	margin-top: 60px;
}
.quality_desc p {
	font-family: "Gotham";
	font-size: 13px;
	line-height: 24px;
	text-align: center;
	color: #837873;
	margin-bottom: 30px;
}
.quality_content {
	display: flex;
	flex-direction: column;
}
.quality_block {
	width: 320px;
	text-align: center;
}
.quality_block h5 {
	font-family: "Vollkorn", sans-serif;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	color: #F15C0B;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 15px;
}
.quality_block span {
	font-family: "Gotham", sans-serif;
	font-size: 13px;
	line-height: 24px;
	text-align: center;
	color: #837873;
}
.quality_content_inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.quality_content_inner:first-child {
	padding-bottom: 300px;
}
.quality_slide_container {
	position: relative;
}
.quality_slide_inner {
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
}
.quality_slide {
	display: flex;
	justify-content: center;
}
.cocoen {
	width: 550px;
}
.cocoen-drag::before {
	display: none;
}
.cocoen-drag {
    background: transparent;
    margin-left: -5px;
    width: 10px;
}
/* products */
.products_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 50px;
}
.products_block {
	width: 25%;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 40px;
	border-radius: 10px;
}
.products_content {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	position: relative;
}
.products_content a {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	transition: box-shadow 0.3s ease-in-out;
	height: 100%;
	border-radius: 10px;
}
.products_content a:hover {
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.products_img img {
	border-radius: 10px;
}
.products_content span {
	font-family: "Gotham", sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: #F15C0B;
	padding: 20px;
	border-radius: 10px;
	min-height: 80px;
}
/* rewards */
.rewards_block {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}
.rewards_year {
	padding: 25px 20px;
	border-bottom: 1px solid #E3E3E3;
}
.rewards_year h3 {
	margin: 0;
	font-family: "Gotham", sans-serif;
	font-size: 24px;
	line-height: 23px;
	color: #ED5408;
}
.rewards_title {
	display: flex;
	flex-direction: row;
	padding: 13px 20px;
	border-bottom: 1px solid #E3E3E3;
}
.rewards_title span {
	font-family: "Gotham", sans-serif;
	font-size: 18px;
	color: #000000;
	font-weight: bold;
}
.rewards_title_1 {
	width: 70%;
}
.rewards_title_2 {
	width: 30%;
}
.rewards_content {
	padding: 13px 20px;
}
.rewards_inner {
	margin-top: 20px;
}
.rewards_content ul {
	display: flex;
	flex-direction: column;
}
.rewards_content ul li {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}
.rewards_content ul li a {
	width: 70%;
	color: #0359FF;
	text-decoration: underline;
	padding-right: 30px;
}
.rewards_content ul li a:hover {
	text-decoration: none;
}
.rewards_content ul li span {
	width: 30%;
	color: #000;
	font-size: 14px;
}
.header_top_mobile, .burger {
	display: none!important;
}
/* canvas */
.header_canvas .off-canvas {
	background-color: #fff;
}
.header_canvas .off-canvas ul {
	display: flex;
	flex-direction: column;
}
.header_canvas .off-canvas ul li {
	border-bottom: 1px solid #EFEFEF;
}
.header_canvas .off-canvas ul li a {
	font-size: 16px;
	color: #837873;
	padding: 16px 18px;
	display: flex;
}
.header_canvas .off-canvas ul li a:hover, .header_canvas .off-canvas ul li a:focus, .header_canvas .off-canvas ul li a.active {
	color: #F15C0B;
}
.header_canvas .off-canvas ul li a img {
	padding-right: 10px;
}
.rewards_page {
	padding-bottom: 50px;
}
.certificate_content ul li a {
	width: 100%;
}
@media (max-width: 1160px) {
	.container {
		max-width: 924px;
	}
	.header_top_left, .header_top_right {
		width: 27%;
	}
	.header_log_block span {
		padding-left: 5px;
	}
	.header_top_right ul li a {
		margin-right: 15px;
	}
	.header_log {
		width: 18%;
	}
	.header_log_block {
	    text-align: right;
	}
	.header_top_desk {
		display: none!important;
	}
	.header_top_mobile {
		display: flex!important;
	}
	.search_block input[type=text] {
		width: 100px;
	}
	.main_top_wrap {
		width: auto;
	}
	.main_top {
		background-position: center;
	}
	.main_number_block span {
		font-size: 60px;
		line-height: normal;
	}
	.main_number_block {
		padding-top: 10px;
	}
	.main_number_block p {
		line-height: normal;
	}
}
@media (max-width: 960px) {
	.container {
		max-width: 600px;
	}
	.contact_left, .contact_right {
		width: 100%;
		padding: 0;
		margin-bottom: 15px;
	}
	.main_number_back {
		height: 100px;
	}
	.header_top_left {
		width: 35%;
	}
	.main_top_inner {
	    height: 600px;
	}
	.main_top_wrap h1 {
		font-size: 40px;
		line-height: normal;
	}
	.quality_content_inner:first-child {
	    padding-bottom: 40px;
	}
	.quality_slide_container {
		display: none;
	}
	.main_top_wrap {
	    width: 600px;
	    top: 200px;
	}
	.main_top {
	    height: 600px;
	}
	.header_log {
		width: 30%;
	}
	.assortiment_block {
		padding-left: 10px;
		padding-right: 10px;
	}
	.main_number_block span {
	    font-size: 32px;
	    line-height: normal;
	}
	.main_number_block p {
		font-size: 12px;
	}
	.assortiment {
		margin-top: 30px;
	}
	.assortiment_content span {
		font-size: 14px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 70px;
	}
	.assortiment_inner {
		margin-left: -10px;
		margin-right: -10px;
	}
	.main_number_block {
	    padding-top: 8px;
	    padding-bottom: 10px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.sklad {
		margin-top: 0;
	}
	.contact_wrap {
		flex-direction: column;
	}
	.burger {
		display: flex!important;
		width: 10%;
	}
	.logo {
		width: 13%;
	}
	.header_wrap a {
		font-size: 13px;
	}
	.header_top_right {
		width: 15%!important;
	}
	.header_top_left ul li a {
		margin-left: 15px;
	}
	.header_search, .header_top_mobile_mini {
		display: none;
	}
	.bulka2_sifra, .bulka1_desc span {
		font-size: 40px;
	}
	.bulka1_desc, .bulka2_desc {
		padding-top: 10px;
	}
	.news_block_inner {
		width: 50%;
	}
	.news_block_inner_first {
		width: 100%;
	}
	.page_container {
		width: 100%;
		max-width: 600px;
	}
	.page_next_block {
		width: 50%;
	}
	.products_block {
		width: 33.333%;
		padding-left: 10px;
		padding-right: 10px;
	}
	.products_inner {
		margin-left: -10px;
		margin-right: -10px;
	}
}
@media (max-width: 600px) {
	.container {
	    max-width: 480px;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.page_container {
		width: 100%;
		max-width: 480px;
		padding-left: 15px;
    	padding-right: 15px;
	}
	.header_log, .header_top_right, .header_top_left, .rewards_title {
		display: none;
	}
	.products_block {
		width: 50%;
		margin-bottom: 15px;
	}
	.rewards_content ul li {
		flex-direction: column;
	}
	.products_content span {
	    padding: 15px;
	    font-size: 12px;
	}
	.rewards_content ul li a, .rewards_content ul li span {
		width: 100%;
		padding: 0;
	}
	.rewards_content {
		padding: 15px;
	}
	.rewards_year {
		padding: 15px;
	}
	.logo {
		width: 73%;
		text-align: center;
	}
	.logo a img {
		width: 60px;
	}
	.sklad_content {
		flex-direction: column;
	}
	.header_wrap {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.sklad_block {
		width: 100%;
		padding: 0;
	}
	.contact_map iframe {
		height: 200px;
	}
	.news_block_inner {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 15px;
	}
	.news_block_first {
		height: 200px;
	}
	.news_block_first span {
	    bottom: 95px;
	}
	.news_block_desc {
		min-height: 115px;
	}
	.company_url a {
		font-size: 13px;
		margin-left: 5px;
		margin-right: 5px;
	}
	.content {
		padding: 15px;
	}
	.content h3 {
		margin-bottom: 10px;
	}
	.company_title h1 {
		font-size: 32px;
		line-height: normal;
	}
	.bulka_inner {
		flex-direction: column;
	}
	.news_title h1 {
		font-size: 32px;
	}
	.breadcrumb {
		margin-top: 10px;
	}
	.history_inner .tabs-title > a {
	    font-size: 24px;
	    padding-left: 10px;
	    padding-right: 10px;
		padding-bottom: 10px;
	}
	.career {
		margin-bottom: 15px;
	}
	.page_title h1 {
	    font-size: 20px;
	    line-height: normal;
	    margin-bottom: 15px;
	}
	.page_main_title {
		font-size: 18px;
		line-height: normal;
	}
	.news_block_inner_first {
		padding-left: 10px;
		padding-right: 10px;
	}
	.accordion-title {
		padding: 15px;
	}
	.accordion-content {
		padding: 15px;
	}
	.page_next_title h2 {
	    font-size: 18px;
	    line-height: normal;
	}
	.page_next_block {
		width: 100%;
		margin-bottom: 15px;
	}
	.page_desc {
		padding: 15px;
	}
	.news_inner {
		margin-left: -10px;
		margin-right: -10px;
	}
	.news_block_first h4 {
		font-size: 15px;
		line-height: normal;
	}
	.main_number_back img {
		display: none;
	}
	.main_top {
	    height: 450px;
	}
	.main_top_wrap {
	    width: 100%;
	    top: 110px;
	    left: 0;
	}
	.main_top_wrap h1 {
		font-size: 32px;
	}
	.main_top_inner {
	    height: 560px;
	}
	.main_number_content, .assortiment_inner {
	    flex-wrap: wrap;
	}
	.quality_block {
		width: 100%;
	}
	.quality_content_inner {
		flex-direction: column;
	}
	.assortiment_block {
		width: 50%;
		margin-bottom: 15px;
	}
	.main_number_block {
		width: 50%;
	}
}
